<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>data_character_yuyuko_walkBack000.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{62,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>data_character_yuyuko_walkBack001.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,0},{62,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>data_character_yuyuko_walkBack002.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,63},{62,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>data_character_yuyuko_walkBack003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,63},{62,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>data_character_yuyuko_walkBack004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,126},{62,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>data_character_yuyuko_walkBack005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,189},{62,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>data_character_yuyuko_walkFront000.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,252},{62,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>data_character_yuyuko_walkFront001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,315},{62,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>data_character_yuyuko_walkFront002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,378},{62,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>data_character_yuyuko_walkFront003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,441},{62,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>data_character_yuyuko_walkFront004.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,441},{62,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
		<key>data_character_yuyuko_walkFront005.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,378},{62,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1,-1},{64,128}}</string>
			<key>sourceSize</key>
			<string>{64,128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>walk2.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>walk2.png</string>
	</dict>
</dict>
</plist>
